.main {
    max-width: 65%;
    margin: auto;
}

.newTask {
    border-radius: 20px;
    background-color: #fff;
}

.newTask--headerText {
    padding: 20px;
    margin: 0;
    text-indent: 30px;
    padding-bottom: 30px;
}

.newTask--form {
    display: flex;
    padding: 10px;
    max-width: 90%;
    margin: auto;
}

@media (max-width: 767px) {
    .newTask--form {
        flex-wrap: wrap;
    }
}

.newTask--input {
    flex-basis: 75%;
    margin: 7px;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .newTask--input {
        flex-basis: 100%;
        padding:5px;
    }
}

.newTask--button {
    flex-basis: 25%;
    margin: 7px;
    border-radius: 5px;
    padding: 5px;
    background-color: #17252A;
    color: #fff;
}

@media (max-width: 767px) {
    .newTask--button {
        flex-basis: 100%;
        padding:10px
    }
}

.taskList {
    background-color: #fff;
    border-radius: 20px;
    margin-top: 30px;
}

.taskList__header {
    display: flex;
    justify-content: space-between;
}

.taskList__buttons {
    flex-basis: 60%;
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    margin: 20px;
}

.taskList--ul {
    padding-left: 0px;
    max-width: 90%;
    margin: auto;
}

.taskList--li {
    display: flex;
    padding: 10px;
}

.taskList--remove {
    width: 60px;
    height: 60px;
    background-color: rgb(167, 0, 0);
    color: #ccc;
}

.taskList--toggle {
    width: 60px;
    height: 60px;
    background-color: rgb(53, 129, 53);
}

.taskList--img {
    width: 50px;
    color: #ccc;
}

.taskList--imgDone {
    display: none;
}

.taskList--text {
    flex-grow: 1;
    text-align: center;
    font-weight: 1000;
    font-size: 24px;
    overflow: hidden;
}



.taskList--textDone {
    text-decoration: line-through;
}