html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    background-color: #ccc;
}

.hr {
    max-width: 90%;
    margin: 0 auto;
}

.hr--disabled {
    display: none;
}